/* comentario en sass y css */
body {
  background: rgba(0, 0, 0, 0.857); }
  body ul li {
    display: inline-block;
    margin-left: 50px; }

h1, p, h2, h3, form, footer {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

section .imagen-1 {
  width: 600px;
  height: 450px;
  transition: 1s; }

section .imagen-1:hover {
  filter: grayscale(55%); }

section .intro-1 {
  position: absolute;
  bottom: 490px;
  left: 610px; }

section .intro-text {
  position: absolute;
  bottom: 440px;
  left: 610px; }

section .intro-text-2 {
  position: absolute;
  bottom: 420px;
  left: 610px; }

form .txt-form {
  position: absolute;
  left: 643px;
  top: 230px; }

form .Formulario {
  display: block; }

form #name {
  position: absolute;
  left: 643px;
  top: 260px; }

form #nombre {
  position: absolute;
  left: 643px;
  top: 278px; }

form #email {
  position: absolute;
  left: 643px;
  top: 305px; }

form #mail {
  position: absolute;
  left: 643px;
  top: 325px; }

form #password {
  position: absolute;
  left: 643px;
  top: 350px; }

form #contrasena {
  position: absolute;
  left: 643px;
  top: 370px; }

form #origen {
  position: absolute;
  left: 643px;
  top: 395px; }

form #pais {
  position: absolute;
  left: 643px;
  top: 415px; }

form #genero {
  position: absolute;
  left: 643px;
  top: 440px; }

form #formulario-2-1 {
  position: absolute;
  left: 643px;
  top: 455px;
  display: inline-block; }

form #formulario-2-2 {
  position: absolute;
  left: 743px;
  top: 455px;
  display: inline-block; }

form #formulario-2-3 {
  position: absolute;
  left: 843px;
  top: 455px;
  display: inline-block; }

form #formulario-2-4 {
  position: absolute;
  left: 943px;
  top: 455px;
  display: inline-block; }

form #button-1 {
  position: absolute;
  left: 643px;
  top: 485px; }

form #button-2 {
  position: absolute;
  left: 643px;
  top: 525px; }

footer #ig {
  width: 25px;
  height: 25px; }

/* pagina discografia */
.disco-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1px; }

#div-1, #div-2, #div-3, #div-4 {
  top: 162px;
  width: 300px;
  position: absolute; }

#disco-1, #disco-2, #disco-3, #disco-4, #disco-5, #disco-6, #disco-7, #disco-8, #disco-9, #disco-10, #disco-11 {
  width: 225px;
  height: 225px;
  margin: 10px; }

#disco-1:hover {
  rotate: 20deg;
  transition: 1s; }

#disco-2:hover {
  transform: scale(2);
  transition: 2s; }

#disco-3:hover {
  filter: blur(100px);
  transition: 2s; }

#disco-4:hover {
  filter: opacity(0.5);
  transition: 1s; }

#disco-5:hover {
  transform: skewX(30deg) skewY(30deg);
  transition: 2s; }

#disco-6:hover {
  rotate: 180deg;
  transition: 2s; }

#disco-7:hover {
  transform: scale(0.2);
  transition: 2s; }

#disco-8:hover {
  transform: scaleY(0.6);
  transition: 1s; }

#disco-9:hover {
  transition: 2s;
  transform: scale(1.2); }

#disco-10:hover {
  transform: skew(-20deg, 90deg);
  transition: 1.5s; }

#disco-11:hover {
  transform: rotate(360deg);
  transition: 1s; }

#div-2 {
  left: 350px; }

#div-3 {
  left: 700px; }

#div-4 {
  left: 1050px; }

#div-6 {
  left: 350px; }

#div-7 {
  left: 700px; }

#div-8 {
  left: 1050px; }

#div-10 {
  left: 525px; }

#div-11 {
  left: 1050px; }

#div-5, #div-6, #div-7, #div-8 {
  width: 300px;
  position: absolute;
  top: 1000px; }

#div-9, #div-10, #div-11 {
  position: absolute;
  top: 1650px;
  width: 300px; }

#img-1 {
  width: 400px;
  height: 500px; }

#img-2 {
  width: 400px;
  height: 500px; }

.inicio-texto, .texto-inicial, .texto-medio, .texto-2000, .texto-2000-2, .texto-2010, .texto-2010-2, .intro-2020, .texto-2020-2 {
  position: absolute;
  left: 410px;
  top: 80px; }

.texto-inicial {
  position: absolute;
  left: 410px;
  top: 115px; }

.texto-medio {
  position: absolute;
  left: 410px;
  top: 210px; }

.texto-2000 {
  position: absolute;
  left: 410px;
  top: 180px; }

.texto-2000-2 {
  position: absolute;
  left: 410px;
  top: 320px; }

.texto-2010 {
  position: absolute;
  left: 410px;
  top: 580px; }

.texto-2010-2 {
  position: absolute;
  left: 410px;
  top: 610px; }

.intro-2020 {
  position: absolute;
  left: 410px;
  top: 990px; }

.texto-2020-2 {
  position: absolute;
  left: 410px;
  top: 1025px; }

body .grid-display {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px; }

/* pagina tour */
body img {
  width: 600px;
  height: 600px; }

body .form-tour {
  text-align: center;
  max-width: 400px;
  margin: 0 auto; }

body .form-tour:hover {
  transform: scale(1.1);
  transition: 1s; }

@media screen and (min-width: 400px) and (max-width: 700px) {
  /* INDEX */
  body section .imagen-1 {
    width: 100%;
    height: auto; }
  body section .intro-1, body section .intro-text, body section .intro-text-2, body section .formtext, body section .Formulario {
    position: static;
    text-align: center;
    margin: 10px auto; }
  body form .txt-form, body form #name, body form #nombre, body form #email, body form #mail, body form #password, body form #contrasena, body form #origen, body form #pais, body form #genero, body form #formulario-2-1, body form #formulario-2-2, body form #formulario-2-3, body form #formulario-2-4, body form #button-1, body form #button-2 {
    position: static;
    text-align: center;
    margin: 10px auto;
    display: block; }
  /* pagina Discografia */
  body #div-1, body #div-2, body #div-3, body #div-4, body #div-5, body #div-6, body #div-7, body #div-8, body #div-9, body #div-10, body #div-11 {
    position: static;
    text-align: center;
    margin: 10px auto;
    display: block; }
  /* pagina de la historia */
  body main div #img-1, body main div #img-2 {
    width: 100%;
    height: auto; }
  body main div article .inicio-texto, body main div article .texto-inicial, body main div article .texto-medio, body main div article .texto-2000, body main div article .texto-2000-2, body main div article .texto-2010, body main div article .texto-2010-2, body main div article .texto-2010-2, body main div article .intro-2020, body main div article .texto-2020-2 {
    position: static;
    text-align: center;
    margin: 10px auto;
    display: block; }
  /* pagina Integrantes */
  body .grid-display {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1px; }
    body .grid-display img {
      width: auto;
      height: auto; }
  /* pag tour */
  body .tour-img {
    width: 300px;
    height: 300px;
    position: relative;
    left: 150px; } }

@media screen and (min-width: 700px) and (max-width: 1023px) {
  body section .intro-1, body section .intro-text, body section .intro-text-2, body section .formtext, body section .Formulario {
    position: static;
    text-align: center;
    margin: 10px auto; }
  body form .txt-form, body form #name, body form #nombre, body form #email, body form #mail, body form #password, body form #contrasena, body form #origen, body form #pais, body form #genero, body form #formulario-2-1, body form #formulario-2-2, body form #formulario-2-3, body form #formulario-2-4, body form #button-1, body form #button-2 {
    position: static;
    text-align: center;
    margin: 10px auto;
    display: block; }
  .imagen-1 {
    width: 100%;
    height: auto; }
  /* media queri 2da pagina */
  body #div-1, body #div-2, body #div-3, body #div-4, body #div-5, body #div-6, body #div-7, body #div-8, body #div-9, body #div-10, body #div-11 {
    left: auto;
    top: auto;
    position: static;
    padding: 10px; }
    body #div-1 img, body #div-2 img, body #div-3 img, body #div-4 img, body #div-5 img, body #div-6 img, body #div-7 img, body #div-8 img, body #div-9 img, body #div-10 img, body #div-11 img {
      width: 200px;
      height: 200px; }
  /* media querys 3er pagina */
  body main div #img-2 {
    width: 250px;
    height: 250px; }
  body main div #img-1 {
    width: 320px;
    height: 320px;
    position: relative;
    top: 120px; }
  body main div .texto-inicial, body main div .texto-medio {
    left: 250px; }
  body main div .texto-2000, body main div .texto-2000-2 {
    left: 325px; }
  body main div .texto-2010, body main div .texto-2010-2 {
    left: 10px;
    width: 380px; }
  body main div .intro-2020, body main div .texto-2020-2 {
    left: 400px; }
  body main div .texto-medio {
    top: 230px; }
  body main div .texto-2000 {
    top: 395px; }
  body main div .texto-2000-2 {
    top: 420px; }
  body main div .texto-2010 {
    top: 960px; }
  body main div .texto-2010-2 {
    top: 1000px; }
  /* Media querys 4ta pagina*/
  body .grid-display {
    display: grid;
    grid-template-columns: repeat(2, auto); }
    body .grid-display img {
      width: auto;
      height: auto; }
  /* Media querys 5ta pagina */
  body .tour-img {
    width: 100%;
    height: auto; } }
