//comentario solo en sass
/* comentario en sass y css */
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mixin";
@import "utilidades/extend";

//Codigo en sass

//parte 1, color de cuerpo y diseño de fuentes
body{
    background: $color-principal;
        ul{
            li{
                display: inline-block;
                margin-left: 50px;
            }
        }
}
h1, p, h2, h3, form, footer{
    color: $color-letras;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

//parte 2, posicionamiento de textos y acomodamiento de imagen.


section{
    .imagen-1{
        width: 600px;
        height: 450px;
        transition: 1s;
    }
    .imagen-1:hover{
        filter:grayscale(55%)
    }
    .intro-1{
      @include posicion-textual(absolute, 490px, 610px);
    }
    .intro-text{
        @include posicion-textual(absolute, 440px, 610px);
    }
    .intro-text-2{
        @include posicion-textual(absolute, 420px, 610px);
    }
}
form{
    .txt-form{
        @include posicion-textual-inverso (absolute, 643px, 230px);
    }
    .Formulario{
        display: block;
    }
    #name{
        @include posicion-textual-inverso(absolute, 643px, 260px);
    }
    #nombre{
        @include posicion-textual-inverso(absolute,643px, 278px);
    }
    #email{
        @include posicion-textual-inverso(absolute, 643px,305px);
    }
    #mail{
        @include posicion-textual-inverso(absolute, 643px,325px);
    }
    #password{
        @include posicion-textual-inverso(absolute, 643px,350px);
    }
    #contrasena{
        @include posicion-textual-inverso(absolute, 643px,370px);
    }
    #origen{
        @include posicion-textual-inverso(absolute, 643px,395px);
    }
    #pais{
        @include posicion-textual-inverso(absolute, 643px,415px);
    }
    #genero{
        @include posicion-textual-inverso(absolute, 643px,440px);
    }
    #formulario-2-1{
        @include posicion-textual-inverso(absolute, 643px,455px);
        display: inline-block;
    }
    #formulario-2-2{
        @include posicion-textual-inverso(absolute, 743px, 455px);
        display: inline-block;
    }
    #formulario-2-3{
        @include posicion-textual-inverso(absolute, 843px, 455px);
        display: inline-block;
    }
    #formulario-2-4{
        @include posicion-textual-inverso(absolute, 943px, 455px);
        display: inline-block;
    }

    #button-1{
        @include posicion-textual-inverso(absolute, 643px, 485px);
    }

    #button-2{
        @include posicion-textual-inverso(absolute, 643px, 525px);
    }
}
footer #ig{
width: 25px;
height: 25px;
}

/* pagina discografia */
.disco-data{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1px;
}
#div-1,#div-2,#div-3,#div-4{
    top: 162px;
    width: 300px;
    position: absolute;
}
#disco-1,#disco-2,#disco-3,#disco-4,#disco-5,#disco-6,#disco-7,#disco-8,#disco-9,#disco-10,#disco-11{
    width: 225px;
    height: 225px;
    margin: 10px;
}
#disco-1:hover{
    rotate: 20deg;
    transition: 1s;
}
#disco-2:hover{
    transform: scale(2);
    transition: 2s;
}
#disco-3:hover{
    filter: blur(100px);
    transition: 2s;
}
#disco-4:hover{
    filter: opacity(0.5);
    transition: 1s;
}
#disco-5:hover{
    transform: skewX(30deg) skewY(30deg);
    transition: 2s;
}
#disco-6:hover{
    rotate: 180deg;
    transition: 2s;
}
#disco-7:hover{
    transform: scale(0.2);
    transition: 2s;
}
#disco-8:hover{
    transform: scaleY(0.6);
    transition: 1s;
}
#disco-9:hover{
    transition: 2s;
    transform: scale(1.2);
}
#disco-10:hover{
    transform: skew(-20deg, 90deg);
    transition: 1.5s;
}
#disco-11:hover{
    transform: rotate(360deg);
    transition: 1s;
}
#div-2{
left: 350px;
}
#div-3{
left: 700px;
}
#div-4{
left: 1050px;
}
#div-6{
left: 350px;
}
#div-7{
left: 700px;
}
#div-8{
left: 1050px;
}
#div-10{
left: 525px;
}
#div-11{
left: 1050px;
}
#div-5,#div-6,#div-7,#div-8{
    width: 300px;
    position: absolute;
    top: 1000px;
}
#div-9,#div-10,#div-11{
    position: absolute;
    top: 1650px;
    width: 300px;
}

//pagina historia
    #img-1{
    width: 400px;
    height: 500px;
    }
    #img-2{
    width: 400px;
    height: 500px;
    }
.inicio-texto,.texto-inicial, .texto-medio, .texto-2000, .texto-2000-2, .texto-2010, .texto-2010-2, .intro-2020, .texto-2020-2{
        position: absolute;
        left: 410px;
        top: 80px;
}   
.texto-inicial{
position: absolute;
left: 410px;
top: 115px;
}
.texto-medio{
position: absolute;
left: 410px;
top: 210px;
}
.texto-2000{
position: absolute;
left: 410px;
 top: 180px;
}
.texto-2000-2{
position: absolute;
 left: 410px;
 top: 320px;
 }
.texto-2010{ 
 position: absolute;
 left: 410px;               
 top: 580px;
}               
.texto-2010-2{ 
position: absolute;
left: 410px;             
 top: 610px;
}
.intro-2020{
position: absolute;
left: 410px;
top: 990px;
}
.texto-2020-2{ 
position: absolute;
left: 410px;
top: 1025px
}
//pagina integrantes
    body{
        .grid-display{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        }
    }
    /* pagina tour */
    body{
        img{
            width: 600px;
            height: 600px;
        }
        article{
            
        }
            .form-tour{
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
        }
        .form-tour:hover{
                transform: scale(1.1);
                transition: 1s;
            }
    }
//media querys tablet
@media screen and (min-width: 400px) and (max-width:700px){
    /* INDEX */
    body{
        section{
            .imagen-1{
                width: 100%;
                height: auto;
                
            }
            .intro-1, .intro-text, .intro-text-2, .formtext, .Formulario {
                position: static;
                text-align: center;
                margin: 10px auto; 
            }
        }
        form{
             .txt-form, #name, #nombre, #email, #mail, #password, #contrasena, #origen, #pais, #genero, #formulario-2-1, #formulario-2-2, #formulario-2-3, #formulario-2-4, #button-1, #button-2 {
                position: static;
                text-align: center;
                margin: 10px auto;
                display: block;
            }
        }
    }
    /* pagina Discografia */
    body{
        #div-1, #div-2, #div-3, #div-4, #div-5, #div-6, #div-7, #div-8, #div-9, #div-10, #div-11{
            position: static;
            text-align: center;
            margin: 10px auto;
            display: block;
        }
    }

    /* pagina de la historia */
    body{
        main{
            div{
                #img-1, #img-2{
                width: 100%;
                height: auto;
                }
                article{
                    .inicio-texto, .texto-inicial, .texto-medio, .texto-2000, .texto-2000-2, .texto-2010, .texto-2010-2, .texto-2010-2, .intro-2020, .texto-2020-2{
                        position: static;
                        text-align: center;
                        margin: 10px auto;
                        display: block;
                    }
                }
            }
        }
    }

    /* pagina Integrantes */
    body{
        .grid-display{
            img{
                width: auto;
                height: auto;
            }
            display: grid;
            grid-template-columns: repeat(1, auto);
            gap: 1px;
        }
    }
    /* pag tour */
    body{
        .tour-img{
            width: 300px;
            height: 300px;
            position: relative;
            left: 150px;
        }
    }

}
@media screen and (min-width: 700px) and (max-width: 1023px) {
    body{
        section{
             .intro-1, .intro-text, .intro-text-2, .formtext, .Formulario {
      position: static;
      text-align: center;
      margin: 10px auto; 
        }
        }
        form{
             .txt-form, #name, #nombre, #email, #mail, #password, #contrasena, #origen, #pais, #genero, #formulario-2-1, #formulario-2-2, #formulario-2-3, #formulario-2-4, #button-1, #button-2 {
                position: static;
                text-align: center;
                margin: 10px auto;
                display: block;
            }
        }
    
    }
    .imagen-1 {
      width: 100%;
      height: auto; }
    /* media queri 2da pagina */
   body{
        #div-1, #div-2, #div-3, #div-4, #div-5, #div-6, #div-7, #div-8, #div-9, #div-10, #div-11{
            left: auto;
            top: auto;
            position: static;
            padding: 10px;
                img{
                    width: 200px;
                    height: 200px;
                }
        }
    }
/* media querys 3er pagina */
    body{
        main{
            div{
                #img-2{
                    width: 250px;
                    height: 250px;
                }
                #img-1{
                    width: 320px;
                    height: 320px;
                    position: relative;
                    top: 120px;
                }
                .texto-inicial, .texto-medio{
                    left: 250px;
                }
                .texto-2000, .texto-2000-2{
                    left: 325px;
                }
                .texto-2010, .texto-2010-2{
                    left: 10px;
                    width: 380px;
                }
                .intro-2020, .texto-2020-2{
                    left: 400px;
                }
                .texto-medio{
                    top: 230px;
                }
                .texto-2000{
                    top: 395px;
                }
                .texto-2000-2{
                    top: 420px;
                }
                .texto-2010{
                    top: 960px;
                }
                .texto-2010-2{
                    top: 1000px;
                }
            }
        }
    }
/* Media querys 4ta pagina*/
    body{
        .grid-display{
                img{
                    width: auto;
                    height: auto;
                }
            display: grid;
            grid-template-columns:repeat(2, auto);
        }
    }
    /* Media querys 5ta pagina */
    body{
        .tour-img{
            width: 100%;
            height: auto;
        }
    }
}

