//comentario solo en sass
/* comentario en sass y css */
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mixin";
@import "utilidades/extend";

//Codigo en sass

//parte 1, color de cuerpo y diseño de fuentes
body{
    background: $color-principal;
        ul{
            li{
                display: inline-block;
                margin-left: 50px;
            }
        }
}
h1, p, h2, h3, form, footer{
    color: $color-letras;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

//parte 2, posicionamiento de textos y acomodamiento de imagen.


section{
    .imagen-1{
        width: 600px;
        height: 450px;
    }
    .intro-1{
      @include posicion-textual(absolute, 490px, 610px);
    }
    .intro-text{
        @include posicion-textual(absolute, 440px, 610px);
    }
    .intro-text-2{
        @include posicion-textual(absolute, 420px, 610px);
    }
}
form{
    .txt-form{
        @include posicion-textual-inverso (absolute, 643px, 230px);
    }
    .Formulario{
        display: block;
    }
    #name{
        @include posicion-textual-inverso(absolute, 643px, 260px);
    }
    #nombre{
        @include posicion-textual-inverso(absolute,643px, 278px);
    }
    #email{
        @include posicion-textual-inverso(absolute, 643px,305px);
    }
    #mail{
        @include posicion-textual-inverso(absolute, 643px,325px);
    }
    #password{
        @include posicion-textual-inverso(absolute, 643px,350px);
    }
    #contrasena{
        @include posicion-textual-inverso(absolute, 643px,370px);
    }
    #origen{
        @include posicion-textual-inverso(absolute, 643px,395px);
    }
    #pais{
        @include posicion-textual-inverso(absolute, 643px,415px);
    }
    #genero{
        @include posicion-textual-inverso(absolute, 643px,440px);
    }
    #formulario-2-1{
        @include posicion-textual-inverso(absolute, 643px,455px);
        display: inline-block;
    }
    #formulario-2-2{
        @include posicion-textual-inverso(absolute, 743px, 455px);
        display: inline-block;
    }
    #formulario-2-3{
        @include posicion-textual-inverso(absolute, 843px, 455px);
        display: inline-block;
    }
    #formulario-2-4{
        @include posicion-textual-inverso(absolute, 943px, 455px);
        display: inline-block;
    }

    #button-1{
        @include posicion-textual-inverso(absolute, 643px, 485px);
    }

    #button-2{
        @include posicion-textual-inverso(absolute, 643px, 525px);
    }
}
footer #ig{
width: 25px;
height: 25px;
}

/* pagina discografia */
.disco-data{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1px;
}
#div-1,#div-2,#div-3,#div-4{
    top: 162px;
    width: 300px;
    position: absolute;
}
#disco-1,#disco-2,#disco-3,#disco-4,#disco-5,#disco-6,#disco-7,#disco-8,#disco-9,#disco-10,#disco-11{
    width: 225px;
    height: 225px;
    margin: 10px;
}
#div-2{
left: 350px;
}
#div-3{
left: 700px;
}
#div-4{
left: 1050px;
}
#div-6{
left: 350px;
}
#div-7{
left: 700px;
}
#div-8{
left: 1050px;
}
#div-10{
left: 525px;
}
#div-11{
left: 1050px;
}
#div-5,#div-6,#div-7,#div-8{
    width: 300px;
    position: absolute;
    top: 1000px;
}
#div-9,#div-10,#div-11{
    position: absolute;
    top: 1650px;
    width: 300px;
}

//pagina historia
    #img-1{
    width: 400px;
    height: 500px;
    }
        #img-2{
        width: 400px;
        height: 500px;
        }
.inicio-texto{
        position: absolute;
        left: 410px;
        top: 80px;
}   
.texto-inicial{
position: absolute;
left: 410px;
top: 115px;
}
.texto-medio{
position: absolute;
left: 410px;
top: 210px;
}
.texto-2000{
position: absolute;
left: 410px;
 top: 180px;
}
.texto-2000-2{
position: absolute;
 left: 410px;
 top: 320px;
 }
.texto-2010{ 
 position: absolute;
 left: 410px;               
 top: 580px;
}               
.texto-2010-2{ 
position: absolute;
left: 410px;             
 top: 610px;
}
.intro-2020{
position: absolute;
left: 410px;
top: 990px;
}
.texto-2020-2{ 
position: absolute;
left: 410px;
top: 1025px
}
//pagina integrantes

.integ-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    top:500px
}
//media queris
@media screen and (max-width: 768px) {
    ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .intro-1,.intro-text,.intro-text-2,.formtext,.Formulario {
        position: static;
        text-align: center;
        margin: 10px auto;
    }
    #name, #nombre, #email, #mail, #password, #contrasena, #origen, #pais, #genero, #formulario-2-1, #formulario-2-2, #formulario-2-3, #formulario-2-4, #button-1, #button-2 {
    color: black;
    position: static;
    text-align: center;
    margin: 10px auto;
    display: block;
}
    .imagen-1 {
        width: 100%;
        height: auto;
    }
    /* media queri 2da pagina */
    #disco-1 {
        width: 200px;
        height: 200px;
    }

    #div-1 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-2 {
        width: 200px;
        height: 200px;
    }
    #div-2 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-3 {
        width: 200px;
        height: 200px;
    }
    #div-3 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-4 {
        width: 200px;
        height: 200px;
    }
    #div-4 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-5 {
        width: 200px;
        height: 200px;
    }
    #div-5 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-6 {
        width: 200px;
        height: 200px;
    }
    #div-6 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-7 {
        width: 200px;
        height: 200px;
    }
    #div-7 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-7 {
        width: 200px;
        height: 200px;
    }
    #div-7 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-8{
        width: 200px;
        height: 200px;
    }
    #div-8 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-9 {
        width: 200px;
        height: 200px;
    }
    #div-9 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-10 {
        width: 200px;
        height: 200px;
    }
    #div-10 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }

    #disco-11 {
        width: 200px;
        height: 200px;
    }
    #div-11 {
        top: auto;
        left: auto;
        position: static;
        padding: 10px;
    }
}